<h1>Connection error (접속불가) </h1>
<h2><%= error.status %></h2>
<pre>관련 문의는 아래로 연락 주세요 (de.security@doosan.com)</pre>
<br>
<br>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>



