<!--2022.10.19. Initial Added from html and css  https://www.codinglabweb.com/2020/12/animated-alert-box-using-html-css-only.html-->

<!DOCTYPE html>
<html>
<!--2022.10.20. guns Edit Script (Windows Loading)-->
<script>
	
	window.onload=function(){
	setTimeout(function(){
	document.getElementById("check").click();
	}, 70);
	};
	function endConnect(){
		//접속 종료 코드
		window.open('https://portal.doosan.com', '_self', ''); 
	}
	function viewHidden(){
		var obj = document.getElementById('hiddenMsg');
		
		if(obj.style.opacity == 0){
			obj.style.background = '#FF4848';
			obj.style.width = '750px';
			obj.style.opacity = 1;
			obj.style.color = '#fff';
			obj.style.pointerEvents = 'auto';
			obj.style.transform = "translate(-50% , -50%) scale(1)";
		}else{
			obj.style.pointerEvents = 'none';
			obj.style.opacity = 0;
		}
		
	}
	function goConnect(queryURL){
		//사이트 접속 코드
		window.location.replace(queryURL);
		window.open(queryURL, '_self', ''); 
	}	


</script>

<head>
<meta charset="utf-8">
<title>Doosan Enerbility Safe Link (보안링크) <br></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
	<body>
		<div class="container">
			<input type="checkbox" id="check">
			<div class="background"></div>
			<div class="alert_box" id='mainbox'>
				<div class="errorContent">	
					<font class="topSpan"><b>Doosan Safelink</b></font>
					<table width="880px" style="table-layout:fixed;word-break: break-all">
						<tr> 
							<td width='510px'>
								<img src="/images/main.gif"/>
								<font class='bottomSpan'><b>회사는 이메일 링크를 통해 계정/패스워드 입력을 요구하지 않습니다.</b></font>
							</td>
							<td class='msgTD' valign='bottom' width="370px">
								<font style='font-size:16pt;'><b>웹사이트 접속 주의</b></font>
								</br>
								</br>
								</br>
								</br>
								<font style='font-size:12pt;line-height:2em;'>접속하려는 사이트</br></font>
								<font style='font-size:22pt;'>"<b><%= reqDomain %></b>"</font> <!-- Guns 2023-04-27 reqDomain 변수추가 -->
								<font style='font-size:12pt;line-height:2em;'>
									</br>회사가 관리하는 사이트가 아닙니다.
								</font>	
								</br>
								</br>
								</br>
								<div class="btns">
									<label onclick="endConnect();return false;" for="check"><b>접속 종료</b></label>
								</div>
								</br>								
								</br>
								</br>								
								<div align='right' style='padding-right:20px'><a href='javascript:viewHidden();' class='linktitle'>계속 접속 하기</a></div>
								</br>
							</td>
						</tr>
					</table>	
				</div>
			</div>
		</div>
		<div class="container">
			
			<div id='hiddenMsg' class="alert_box">
				<font class='hiddenSpan'><b>
				클릭하신 이메일 링크는 회사에서 운영하거나 관리하는 사이트가 아닙니다.</br>
				회사에서는 이메일 링크를 통해 패스워드 변경이나 계정 입력을 요구하지 않으니,</br>
				아이디/패스워드 정보가 유출되지 않도록 주의해 주시기 바랍니다. SEAD V2</b></br>
				(문의: de.security@doosan.com)</br></br><b>
				위 내용을 충분히 인지하시고 접속에 주의하시길 바랍니다.</br></br></b></font>
				<font class='hiddenBSpan'><b>
					<%= reqDomain %></br></b></font> <!-- Guns 2023-04-27 reqDomain 변수추가 -->
				
				<div class="btns2">
					<label onclick="goConnect('<%- reqUrl %>')" for="check">계속 접속</label>
					<label onclick="endConnect();return false;" for="check"><b>접속 종료</b></label>
				</div>
				
			</div>				
		</div>	
	</body>
</html>
